@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --font-family: "Cairo", sans-serif;
  --color-bg: rgb(10, 48, 112);
  --color-footer: #040c18;
  --gradient-text: linear-gradient(89.97deg, #efeb77 1.84%, #f6af04 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #efeb77 -13.86%, #f6af04 99.55%);
  --color-text: #d5d2d2;
}
